.loading-box {
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffffa3;
    z-index: 10;
}
.loading-box .spinner {
    font-size: 50px;
}